.form-tweet {
  margin: 20px;
}

.form-footer-btn {
  text-align: right;
}

.tweet-icon-container {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}

.tweet-info {
  display: flex;
}
.search-results {
  position: absolute;
  width: 100%;
}
.search-bar {
  position: relative;
}

.follow-button {
  min-width: 72px;
}
