$primary: #6441a5 !default;
$info: #b9a3e3 !default;
$body-bg: #262626 !default;
$body-color: #f1f1f1 !default;
$card-bg: #18181b !default;
$input-bg: #5b595e !default;
$input-border-color: transparent !default;
$input-placeholder-color: #e1e1e1 !default;
$list-group-bg: $card-bg !default;
$modal-content-bg: #18181b !default;
$input-color: #f1f1f1 !default;
